<!--前台办理入住界面-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>办理入住</h1>
<div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="" method="post">
                <p>
                    <label for="d1">姓名:</label>
                    <input type="text" id='d1' name="username" class="form-control">
                </p>
                <p>
                    <label for="d2">房间号</label>
                    <input type="text" id='d2' name="room_num" class="form-control">
                </p>
                <input type="submit" class="btn btn-success btn-block">

            </form>
        </div>
    </div>
</body>
</html>