<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>顾客界面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'smallHotel/css/custStyle.css' %}">
    <script src="{% static 'smallHotel/js/axios.js' %}"></script>
    <script type="text/javascript" src="{% static 'smallHotel/js/customer.js' %}"></script>
</head>

<body onselectstart="return false">
    <div id="status" value="0">
        <p id="statusText">
            关机
        </p>
    </div>
    <div id="total_page">

        <div id="main_panel">
            <button type="button" id="current_temp_button" onclick="ACSwitch()">
                <span id="roomtemp"></span>
                <span>室内温度</span>
                <span id="switch">开空调</span>
            </button>
            <div>
                <button type="button" id="target_temp_sub_button"><span>-</span></button>
                <button type="button" id="submit_temp_button" disabled><span id="targetTemp">---</span><span>℃</span></button>
                <button type="button" id="target_temp_add_button"><span>+</span></button>
                <br>
            </div>
        </div>
        <div id="sub_panel">
            <div id="speed_panel">
                当前风速
                <button type="button" id="low_speed_button" ><span>低风速</span></button>
                <button type="button" id="middle_speed_button" ><span>中风速</span></button>
                <button type="button" id="high_speed_button" ><span>高风速</span></button>
            </div>
            <div>
            <div id="mode_panel">
                    <button type="button" id="cool_button" ><span>制冷</span></button>
                    <button type="button" id="heat_button" ><span>制热</span></button>
            </div>
        </div>
        <div id="cost_rule_panel">
            计费规则
            <br>1
            <br>2
        </div>
        <div id="current_cost_panel">
            <p>当前累计费用</p>
            <div><div id="expenses">--</div>元</div>
        </div>
    </div>
    </div>
</body>

</html>