<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<p>
				空调监控系统
			</p>
			<h3 class="text-left">
				h3. 这是一套可视化布局系统.
			</h3>
			<div class="row-fluid">
				<div class="span12">
					 <button class="btn btn-info" type="button">按钮</button>
					<div class="row-fluid">
						<div class="span6">
							 <button class="btn btn-info" type="button">按钮</button> <button class="btn btn-info" type="button">按钮</button>
						</div>
						<div class="span6">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>