<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入住成功</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'smallHotel/boostrap/css/bootstrap.min.css' %}"> <!--need to change-->
    <style>
        #front{
            width:1000px;
        }
        #front span {
            font-size: 1em;
            padding: 12px;
        }
        #form{
            margin:20px;
        }
        #center{
            border: 2px solid black;
            position:absolute;
            left:40%;
            top:30%
        }
        #break{
            position:absolute;
            left:44.5%;
            top:50%
        }
    </style>
    <link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.net/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>入住</h1>
    <div id="front">
        <span id="return">
            <a href="/smallHotel/rec" class="btn btn-default">返回</a>
        </span>
        <span>进度</span>
        <span>等级用户信息</span>
        <span>——></span>
        <span>选择房间</span>
        <span>——></span>
        <span style="color: green;">办理入住成功</span>
    </div>
    <div id="center">
        <div id="form">
            <h3>办理入住成功</h3>
            <p>您的房间卡号是:</p>
            <span>{{ tips }}</span>
        </div>
    </div>
</body>
</html>