<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--读取静态文件前必须在html前添加{% load static %}，添加一次就行了-->
    <!--读取静态css-->
    <!-- 
        <link rel="stylesheet" href="{% static 'smallHotel/css/style.css' %}">
    -->
</head>
<body>
    <!--读取图片-->
    <!--<img src="{% static 'images/xxx.png' %}">-->
</body>
<!--读取js-->
<!--<script type="text/javascript" src="{% static 'smallHotel/js/js1.js' %}"></script>-->
</html>